/* Contêiner principal do detalhe do animal */
.animal-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .animal-detail-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Contêiner com informações e o formulário de edição */
  .animal-detail-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  /* Seção de informações do animal */
  .animal-info {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .animal-info img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .animal-info p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  /* Formulário de edição */
  .animal-edit-form {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .animal-edit-form h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  /* Estilos para os campos de input */
  .input-field {
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input-field:focus {
    border-color: #007bff;
  }
  
  /* Botão de atualização */
  .submit-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  /* Botão de deletar */
  .delete-button {
    width: 100%;
    padding: 12px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  /* Ajuste para telas menores */
  @media (max-width: 768px) {
    .animal-detail-content {
      flex-direction: column;
    }
  
    .animal-info, .animal-edit-form {
      flex: none;
      width: 100%;
    }
  }
  